
.jmp{
    border-color: #ffc107;
    border-width: 0.2em;
    box-shadow: "0 4px 6px rgb(0 0 0 / 20%)";
}

#about{
    padding-bottom: 0px;
}

#projects{
    padding-top: 30px;
}

/* Make the thumbnail inside .media.stream-item scale with its container */
.media.stream-item {
  img {
    max-width: 100%;
    height: auto;   // keeps the aspect-ratio
  }
}
